/* Contacts */
.our-contacts {
  @include font(18px, 1.67, 0.02em);

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.contacts {
  @extend %list;
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    @include font(12px, 1.67, 0.02em);
  }

  @media screen and (min-width: 1200px) {
    @include font(14px, 1.14, 0.02em);
    display: flex;
  }
}
.contacts-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}
.contacts-item-link {
  display: flex;
  align-items: center;
  color: $main-text-color;

  transition: $animation;

  &:hover,
  &:focus {
    color: $active-color;
    fill: $active-color;
  }
}
