/* Logo */
.logo {
  font-family: $logo-font;
  color: $additional-text-color;
  @include font(24px, 1.67);
  font-weight: 700;
  display: inline-block;

  & .active {
    @extend %active;
  }
  @media screen and (min-width: 768px) {
    flex-shrink: 0;
    margin-right: 81px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 85px;
  }
  .page-footer & {
    color: #ffffff;
    margin: 0 0 20px 0;
  }
}
