/* Navigation */
.navigation {
  @include font(18px, 1.67, 0.02em);

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    @include font(14px, 1.14, 0.02em);
    // margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    // margin-right: 300px;
  }
}
.nav {
  @extend %list;
  @media screen and (max-width: 767px) {
    &-item:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    &-item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav-item-link {
  position: relative;

  display: inline-block;
  color: $additional-text-color;
  padding-top: 20px;
  padding-bottom: 20px;

  transition: $animation;

  &:hover,
  &:focus {
    color: $active-color;
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-item-link {
  &:before {
    @extend %slider;
    left: 0;
    transform-origin: left;
  }
  &:hover:before,
  &:focus:before {
    opacity: 1;
    transform: scaleX(1);
  }
}

.nav-item-link {
  &:after {
    @extend %slider;
    right: 0;
    transform-origin: right;
  }
  &:hover:after,
  &:focus:after {
    opacity: 1;
    transform: scaleX(1);
  }
}

.nav-item-link.active {
  @extend %active;

  &:after {
    @extend %slider;

    width: 100%;
    transform: scaleX(1);
    opacity: 1;
  }
}
