/* Hero */
.hero {
  @include flex(flex, center, center);
  text-align: center;
  flex-direction: column;

  background-image: linear-gradient(to right, $hero-bg-color, $hero-bg-color), url('/images/Hero/Hero-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;

  max-width: 480px;
  height: 400px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, $hero-bg-color, $hero-bg-color), url('/images/Hero/Hero-mobile@2x.jpg');
  }
  @media screen and (min-width: 481px) {
    max-width: 768px;
    background-image: linear-gradient(to right, $hero-bg-color, $hero-bg-color), url('/images/Hero/Hero-tablet.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $hero-bg-color, $hero-bg-color),
        url('/images/Hero/Hero-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 769px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, $hero-bg-color, $hero-bg-color), url('/images/Hero/Hero-desktop.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $hero-bg-color, $hero-bg-color),
        url('/images/Hero/Hero-desktop@2x.jpg');
    }
  }

  &-title {
    color: #ffffff;
    @include font(26px, 1.62, 0.06em);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      @include font(44px, 1.36, 0.06em);
    }
  }
}
