/* We do */
.we-do {
  @extend %list;
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1199px) {
    @include flex(flex, space-between);
  }
  & .container {
    padding-top: 0px;
  }
  & .title {
    @extend %title;
    margin-bottom: 50px;
  }
}
.we-do-item {
  & .item-link {
    position: relative;
    display: block;
  }

  & .item-title {
    @extend %item-title-font;
    position: absolute;
    left: 0px;
    bottom: 0px;

    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    color: #ffffff;
    background-color: $third-bg-color;

    margin: 0 auto;
  }
}
