/* Contacts */
.contacts {
  @extend %list;
  margin-bottom: 20px;
  padding: 0;
  display: inline-block;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.contacts-item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .page-header & {
    // @include flex(flex, flex-start, center);
  }
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}
.contacts-item-link {
  display: flex;
  align-items: center;
  color: $main-text-color;

  transition: $animation;

  &:hover,
  &:focus {
    color: $active-color;
    fill: $active-color;
  }
}
