/* Contacts */
.contacts {
  @extend %list;
  @include font(18px, 1.671, 0.02em);
  display: inline-block;
  padding: 0;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    @include font(12px, 1.67, 0.02em);
  }
}
.contacts-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1199) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}
.contacts-item-link {
  display: flex;
  align-items: center;
  color: $main-text-color;

  transition: $animation;

  &:hover,
  &:focus {
    color: $active-color;
    fill: $active-color;
  }
}
