/* Logo */
.logo {
  font-family: $logo-font;
  color: $additional-text-color;
  @include font(26px, 1.19);
  font-weight: 700;
  margin-right: 85px;

  & .active {
    @extend %active;
  }
  .page-footer & {
    color: #ffffff;
    @include font(22px, 1.19);
    margin-right: 0px;
    margin-bottom: 8px;
  }
}
