.menu {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    background-color: $main-bg-color;
    display: none;

    padding: 40px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
    &.is-open {
      display: block;
    }
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    @include flex(flex, space-between, center);
  }
}
.menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;

  .menu-close {
    display: none;
  }
  &.is-open .menu-close {
    display: block;
  }
  .menu-open {
    display: block;
  }
  &.is-open .menu-open {
    display: none;
  }
  &:hover .menu-icon,
  &:focus .menu-icon {
    fill: $active-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
