$container-width: 1200px;
$container-padding_480px: 60px 15px;
$container-padding_1200px: 94px 15px;

.container {
  margin: 0 auto;
  padding: $container-padding_480px;

  .hero & {
    margin: 0;
    padding: 0;
  }
  .page-header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 60px;
    @media screen and (min-width: 768px) {
      height: 80px;
    }
  }

  .page-footer & {
    text-align: center;
    padding: $container-padding_480px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    @media screen and (min-width: 768px) {
      @include flex(flex, space-around, baseline);
      flex-wrap: wrap;
    }
  }
  .our-works & {
    @media screen and (min-width: 768px) {
      padding-top: 72px;
    }
  }
}
