/* Global CSS */
html {
  box-sizing: border-box;
}
body.modal-open {
  overflow: hidden;
}
*,
::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  .page-header & {
    text-decoration: none;
  }
  .page-footer & {
    text-decoration: none;
  }
}
