/* Global CSS */
html {
  box-sizing: border-box;
}
body.modal-open {
  overflow: hidden;
}
*,
::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
}
a {
  .page-header & {
    text-decoration: none;
  }
  .page-footer & {
    text-decoration: none;
  }
}
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
