$section-padding_480px: 60px 0px;
$section-padding_1200px: 94px 0px;

section {
  margin: 0 auto;
  padding: $section-padding_480px;

  @media screen and (min-width: 1200px) {
    padding: $section-padding_1200px;
  }
  &.hero {
    margin: 0 auto;
    padding: 0;
  }
  &.we-do {
    padding-top: 0;
  }
  &.our-team {
    background: $additional-bg-color;
    background-position: center;
  }

  &.our-works {
    @media screen and (min-width: 768px) {
      padding-top: 72px;
    }
  }
}
