/* Button */
$button-padding: 0;
$button-margin: 0;
$button-min-width: 200px;
$button-min-height: 50px;
$button-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$button-text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

.button {
  color: $additional-text-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: $main-bg-color;
  cursor: pointer;

  padding: $button-padding;
  margin: $button-margin;

  min-width: $button-min-width;
  min-height: $button-min-height;
  border: 1px transparent;
  border-radius: 4px;
  box-shadow: $button-box-shadow;
  overflow: hidden;

  transition: $animation;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $active-color;
  }
  &.main {
    color: #ffffff;
    background-color: $active-color;
  }
}
.subscription {
  & .button {
    @extend .button.main;

    @extend %centred-items;
    display: inline-flex;
  }
}
.our-works .button {
  text-shadow: $button-text-shadow;
  margin: 0;
  padding: 6px 22px;
  min-width: 73px;
  min-height: 38px;
  letter-spacing: 0.03em;
  line-height: 1.62;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
