/* Modal Form */
.clients-form {
  padding: 40px;
  line-height: 1.14;
}
.form {
  &-title {
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: $additional-text-color;
    margin-bottom: 30px;
    @media screen and (max-width: 1199px) {
      line-height: 1.5;
    }
    @media screen and (min-width: 1200px) {
      line-height: 1.15;
    }
  }
  &-field {
    position: relative;
    margin-bottom: 28px;
  }
  &-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 12px 42px;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: $animation;
  }
  &-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);

    letter-spacing: 0.01em;
    color: $main-text-color;

    transition: $animation;
  }
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: #000000;
  width: 18px;
  height: 18px;
  transition: $animation;

  .form-input:not(:placeholder-shown) ~ &,
  .form-field:focus-within > & {
    fill: $active-color;
  }
}
.form-input:not(:placeholder-shown) + .form-label,
.form-field:focus-within > .form-label {
  transform: translateX(-25px) translateY(-40px) scale(0.9) rotate(-360deg);

  color: $active-color;
}
.form-input:not(:placeholder-shown),
.form-field:focus-within > .form-field {
  border-color: $active-color;
}
.comments {
  &.form-field {
    margin-bottom: 20px;
  }
  .form-input {
    padding: 12px 16px;
    height: 120px;
    overflow: auto;
    resize: none;
    line-height: 1.14;
    letter-spacing: 0.01em;
  }
  &-label {
    position: absolute;
    left: 16px;
    top: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    transition: $animation;
  }
}
.form-input:not(:placeholder-shown) + .comments-label,
.form-field:focus-within > .comments-label {
  transform: translateY(-34px) scale(0.9) rotate(-360deg);
  color: $active-color;
}

.agreement {
  @extend %centred-items;
  margin-bottom: 30px;
  color: $main-text-color;
  font-size: 12px;
  line-height: 1.17;
  @media screen and (min-width: 1200px) {
    @include font(14px, 1.71, 0.03em);
  }
  &-icon {
    display: inline-block;
    width: 16px;
    height: 16px;

    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 8px;
  }
  &-link {
    color: $active-color;
  }
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .agreement-icon {
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-color: $active-color;
    border-color: transparent;
    background-origin: border-box;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  @extend %centred-items;
  background-color: inherit;
  cursor: pointer;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;

  transition: $animation;

  .button-close:hover &,
  .button-close:focus & {
    fill: $active-color;
    transform: rotate(720deg);
  }
}
