/* Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 450px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition: $animation;

  .is-hidden & {
    transform: translate(-50%, -50%) scale(1.2);
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}
