/* Footer Join form */
.page-footer {
  .join-form {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
  .join {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.join-form {
  &-field {
    display: block;
    height: 50px;
    background-color: inherit;
    padding: 15px 16px;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.25;

    color: $footer-additional-text-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    &::placeholder {
      color: inherit;
    }
    @media screen and (max-width: 479px) {
      width: 290px;
    }

    @media screen and (min-width: 480px) {
      width: 450px;
    }
  }
}
.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 1000ms;

  .subscription .button.main:hover &,
  .subscription .button.main:focus & {
    transform: translateY(-200%) translateX(200%);
  }
}
