$main-text-color: #757575;
$additional-text-color: #212121;
$copy-text-color: rgba(255, 255, 255, 0.4);
$active-color: #2196f3;
$footer-main-text-color: #ffffff;
$footer-additional-text-color: rgba(255, 255, 255, 0.6);

$main-bg-color: #ffffff;
$additional-bg-color: #f5f4fa;
$third-bg-color: rgba(47, 48, 58, 0.8);
$hero-bg-color: rgba(47, 48, 58, 0.8);

$header-bg-color: #ffffff;
$footer-bg-color: #2f303a;

$clients-logo-fill-color: #afb1b8;

$works-item-bg-color: rgba(33, 150, 243, 0.9);

$animation: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
